@inherits LayoutComponentBase

<PageTitle>CMMS_BlazorServer</PageTitle>

<div class="page">
    
    <AuthorizeView>
        <div class="sidebar">
            <NavMenu />
        </div>
    </AuthorizeView>
    

    <main>
        <AuthorizeView>
            <div class="top-row px-4">
                <LoginDisplay />
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>
        </AuthorizeView>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
