@page "/register"
@attribute [Authorize(Roles = "Administrator")]

@if(Registration != null)
{
    <EditForm Model="@Registration" OnValidSubmit="SubmitRegister">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="container mt-5">
            <div class="row justify-content-center align-items-center">
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <h1 class="mb-3">Register</h1>
                    <div class="mb-3">
                        <label for="email">E-Mail Address</label>
                        <InputText class="form-control" type="email" placeholder="Enter e-mail" @bind-Value="Registration.Email" id="email" />
                    </div>
                    <div class="mb-3">
                        <label for="password">Password</label>
                        <InputText class="form-control" type="password" placeholder="Enter password" @bind-Value="Registration.Password" id="password" />
                    </div>
                    <div class="mb-3">
                        <label for="confirm-password">Confirm Password</label>
                        <InputText class="form-control" type="password" placeholder="Enter password" @bind-Value="Registration.ConfirmPassword" id="confirm-password" />
                    </div>
                    <div class="mb-3">
                        <label for="role">Role
                            <InputSelect class="form-control" @bind-Value="Registration.Role" id="role">
                                <option value="">Select role ...</option>
                                <option value="Administrator">Administrator</option>
                                <option value="Leader">Leader</option>
                                <option value="Technician">Technician</option>
                            </InputSelect>
                        </label>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
    
}
